$maxWidth: 1920px; // максимальная ширина страницы
$minWidth: 320px; // минимальная ширина телефона
$maxWidthContainer: 1170px; // ширина контейнера с учетом padding слева и справа
$containerWidth: 1140px; // ширина контейнера из макета

$md1: 1650;
$md2: 1420;
$md3: 1024;
$md4: 768;
$md5: 576;
$md6: 375;

$mainOffset: 15; // отступы безопасности для контейнера
$mainFont: 'Actor'; // !указать здесь основное семейство шрифта
$mainWeight: 400; // !указать здесь основное начертание шрифта

$headerHeight: 100;
$footerHeight: 100;

$background: #1d1f21;
$whiteColor: #fff;
$whiteTwo: #fcffff;
$blackColor: #000;
$backgroundSecond: #212426;
$mainDarkColor: #333;
$blackChatColor: #2c2f33;
$gray3Color: #828282;
$gray4Color: #bdbdbd;
$gray5Color: #e0e0e0;
$gray6Color: #c8d2dc;
$gray7Color: #525960;
$gray8Color: rgb(44, 47, 51);
$grayLabel: rgb(200, 210, 220);

$greenColor: #c5ff98; // цвет для оплаты или для первого мейн свайпера
$greenBg: rgba(
  197,
  255,
  152,
  0.1
); // цвет бєка для оплаты или для первого мейн свайпера
$greenStatusColor: #c8d2dc;
$blueAuthColor: #7e51ff;

$blueOwnerColor: #86a8ff;
$borderGrayColor: #525960;

$borderGrayColor: #525960;
$forLinksBlue: #86a8ff;
$forValidateBlue: rgb(104 201 255);

$fontFamily: $mainFont, sans-serif; // Семейство шрифта по умолчанию
$fontColor: $blackColor; // Цвет шрифта по умолчанию
$fontSize: 16; // Размер шрифта по умолчанию
$fontWeight: $mainWeight; // Жирность шрифта по умолчанию

$standartTrans: all 280ms ease-in-out 0ms;

$btnBoxShadow:
  0px 2px 3px rgba(#000, 10%),
  0px 8px 3px rgba(#000, 10%);

$lightBoxShadow:
  0 0 2px 0 rgba(#000, 10%),
  0 0 4px 0 rgba(#000, 10%),
  0 0 8px 0 rgba(#000, 10%);

$hoverBoxShadow:
  0 0 5px 0 rgba(#000, 10%),
  0 0 10px 0 rgba(#000, 10%),
  0 0 15px 0 rgba(#000, 10%);

$hoverBtn: linear-gradient(
  90deg,
  rgba(255, 255, 255, 0.1),
  rgba(255, 255, 255, 0.5)
);
$rainbowBtnGradient: linear-gradient(
  95deg,
  #68c9ff 9.27%,
  #d1b5ff 84.06%
); // яркий градиент
$darkerGradientBtn: linear-gradient(
  95deg,
  rgba(104, 201, 255, 0.1) 9.27%,
  rgba(209, 181, 255, 0.1) 84.06%
); // темный градиент
$benefitsStarBoxGradient: linear-gradient(130deg, #68c9ff 0%, #d1b5ff 99.47%);
$individPlanGradient: linear-gradient(130deg, #00adc5 0%, #ad7aff 99.47%);

$cardHover: linear-gradient(
  141deg,
  rgb(104 128 255 / 90%) 3.3%,
  rgb(60 167 244 / 90%) 52.35%,
  rgb(140 69 255 / 90%) 92.15%
);
$rainbowSecondGradient: linear-gradient(
  130.1deg,
  rgb(104, 201, 255) 6.695%,
  rgb(209, 181, 255) 82.388%
);
$bannerSecondGradient: linear-gradient(
  95deg,
  #6880ff 9.27%,
  #3ca7f4 50.77%,
  #8c45ff 84.06%
);
$bannerGradient: linear-gradient(
  176.26deg,
  rgb(104, 128, 255) -3.708%,
  rgb(60, 167, 244) 78.905%,
  rgb(140, 69, 255) 145.945%
);
//radio
$red: #ca3838;
$orange: #eb8032;
$yelow: #ffda57;
$green: #79ce60;
$aqua: #60ceb4;
$blueLight: #41d4f4;
$blue: #4153f4;
$purple: #6541f4;
$purpleLight: #b041f4;
$pink: #c45297;
$chery: #a14051;
$gray: #cfcfcf;
$brown: #4a3221;
$black: #000;
